.footer{
  display: flex;
  justify-content: space-between;
  padding: 10px 10%;
  background-color: black;
  color: white;
}
.columna{
  display: flex;
  flex-direction: column;
}
.link{
  display: flex;
  align-items: center;
  gap: 2px;
  color: white;
  max-height: 20px;
  margin: 4px 0;
  
}
.rrss{
  display: flex;
  flex-direction: column;
}
