.itemListContainer{
  margin-top: 40px;
  text-align: center;
}
.productos{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center; 
  gap: 50px;
  padding: 20px 10vw;
}
.contador{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width:1030px){
  .productos{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  justify-items: center;
  padding: 40px 10vw;
  }
}
@media (max-width:720px){
  .productos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-items: center;
    padding: 40px 10vw;

    }
}


@media (max-width:610px){
  .productos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}